---

- name: "18.6.10.2 | PATCH | Ensure Turn off Microsoft Peer-to-Peer Networking Services is set to Enabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Peernet
      name: Disabled
      data: 1
      type: dword
  when: win10cis_rule_18_6_10_2
  tags:
      - level2-high-security-sensitive-data-environment
      - patch
      - automated
      - rule_18.6.10.2
      - networking_services
