---

- name: "18.6.23.2.1 | PATCH | Ensure 'Allow Windows to automatically connect to suggested open hotspots, to networks shared by contacts, and to hotspots offering paid services' is set to 'Disabled'"
  ansible.windows.win_regedit:
      path: HKLM:\SOFTWARE\Microsoft\WcmSvc\wifinetworkmanager\config
      name: AutoConnectAllowedOEM
      data: 0
      type: dword
  when: win10cis_rule_18_6_23_2_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.6.23.2.1
      - autoconnect
