---

- name: "18.9.13.1 | PATCH | Ensure Boot-Start Driver Initialization Policy is set to Enabled Good unknown and bad but critical"
  ansible.windows.win_regedit:
      path: HKLM:\System\Currentcontrolset\Policies\Earlylaunch
      name: DriverLoadPolicy
      data: 3
      type: dword
  when: win10cis_rule_18_9_13_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.9.13.1
      - drivers
