---

- name: "19.7.7.1 | PATCH | Ensure Configure Windows spotlight on lock screen is set to Disabled"
  block:
      - name: "19.7.7.1 | PATCH | Ensure Configure Windows spotlight on lock screen is set to Disabled"
        ansible.windows.win_regedit:
            path: HKU:\.DEFAULT\Software\Policies\Microsoft\Windows\CloudContent
            name: ConfigureWindowsSpotlight
            data: 2
            type: dword

      - name: "19.7.7.1 | PATCH | Ensure Configure Windows spotlight on lock screen is set to Disabled"
        ansible.windows.win_regedit:
            path: HKCU:\Software\Policies\Microsoft\Windows\CloudContent
            name: ConfigureWindowsSpotlight
            data: 2
            type: dword
  when:
      - win10cis_rule_19_7_7_1
  tags:
      - level1-corporate-enterprise-environment
      - rule_19.7.7.1
      - automated
      - patch
      - windows-spotlight

- name: "19.7.7.2 | PATCH | Ensure Do not suggest third-party content in Windows spotlight is set to Enabled"
  block:
      - name: "19.7.7.2 | PATCH | Ensure Do not suggest third-party content in Windows spotlight is set to Enabled"
        ansible.windows.win_regedit:
            path: HKU:\.DEFAULT\Software\Policies\Microsoft\Windows\CloudContent
            name: DisableThirdPartySuggestions
            data: 1
            type: dword

      - name: "19.7.7.2 | PATCH | Ensure Do not suggest third-party content in Windows spotlight is set to Enabled"
        ansible.windows.win_regedit:
            path: HKCU:\Software\Policies\Microsoft\Windows\CloudContent
            name: DisableThirdPartySuggestions
            data: 1
            type: dword
  when:
      - win10cis_rule_19_7_7_2
  tags:
      - level1-corporate-enterprise-environment
      - rule_19.7.7.2
      - automated
      - patch
      - third-party-content

- name: "19.7.7.3 | PATCH | Ensure Do not use diagnostic data for tailored experiences is set to Enabled"
  block:
      - name: "19.7.7.3 | PATCH | Ensure Do not use diagnostic data for tailored experiences is set to Enabled"
        ansible.windows.win_regedit:
            path: HKU:\.DEFAULT\Software\Policies\Microsoft\Windows\CloudContent
            name: DisableTailoredExperiencesWithDiagnosticData
            data: 1
            type: dword

      - name: "19.7.7.3 | PATCH | Ensure Do not use diagnostic data for tailored experiences is set to Enabled"
        ansible.windows.win_regedit:
            path: HKCU:\Software\Policies\Microsoft\Windows\CloudContent
            name: DisableTailoredExperiencesWithDiagnosticData
            data: 1
            type: dword
  when:
      - win10cis_rule_19_7_7_3
  tags:
      - level2-high-security-sensitive-data-environment
      - rule_19.7.7.3
      - automated
      - patch
      - diagnostic-data

- name: "19.7.7.4 | PATCH | Ensure Turn off all Windows spotlight features is set to Enabled"
  block:
      - name: "19.7.7.4 | PATCH | Ensure Turn off all Windows spotlight features is set to Enabled"
        ansible.windows.win_regedit:
            path: HKU:\.DEFAULT\Software\Policies\Microsoft\Windows\CloudContent
            name: DisableWindowsSpotlightFeatures
            data: 1
            type: dword

      - name: "19.7.7.4 | PATCH | Ensure Turn off all Windows spotlight features is set to Enabled"
        ansible.windows.win_regedit:
            path: HKCU:\Software\Policies\Microsoft\Windows\CloudContent
            name: DisableWindowsSpotlightFeatures
            data: 1
            type: dword
  when:
      - win10cis_rule_19_7_7_4
  tags:
      - level2-high-security-sensitive-data-environment
      - rule_19.7.7.4
      - automated
      - patch
      - windows-spotlight

- name: "19.7.7.5 | PATCH | Ensure Turn off Spotlight collection on Desktop is set to Enabled"
  ansible.windows.win_regedit:
      path: HKCU:\SOFTWARE\Policies\Microsoft\Windows\CloudContent
      name: DisableSpotlightCollectionOnDesktop
      data: 1
      type: dword
  when:
      - win10cis_rule_19_7_7_5
  tags:
      - level1-corporate-enterprise-environment
      - rule_19.7.7.5
      - automated
      - patch
      - windows-spotlight
