---

- name: "18.10.42.5.1 | PATCH | Ensure Configure local setting override for reporting to Microsoft MAPS is set to Disabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Spynet
      name: LocalSettingOverrideSpynetReporting
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_5_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.5.1
      - maps

- name: "18.10.42.5.2 | PATCH | Ensure Join Microsoft MAPS is set to Disabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Spynet
      name: SpynetReporting
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_5_2
  tags:
      - level2-high-security-sensitive-data-environment
      - patch
      - automated
      - rule_18.10.42.5.2
      - maps

- name: "18.10.42.6.1.1  | PATCH | Ensure Configure Attack Surface Reduction rules is set to Enabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\ASR
      name: ExploitGuard_ASR_Rules
      data: 1
      type: dword
  when: win10cis_rule_18_10_42_6_1_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.6.1.1
      - microsoft_defender_exploit_guard
      - attack_surface_reduction
      - defender

- name: "18.10.42.6.1.2 | PATCH | Ensure Configure Attack Surface Reduction rules Set the state for each ASR rule is configured"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\ASR\Rules
      name: "{{ item }}"
      data: 1
      type: string
  loop:
      - 26190899-1602-49e8-8b27-eb1d0a1ce869
      - 3b576869-a4ec-4529-8536-b80a7769e899
      - 56a863a9-875e-4185-98a7-b882c64b5ce5
      - 5beb7efe-fd9a-4556-801d-275e5ffc04cc
      - 75668c1f-73b5-4cf0-bb93-3ecf5cb7cc84
      - 7674ba52-37eb-4a4f-a9a1-f0f9a1619a2c
      - 92e97fa1-2edf-4476-bdd6-9dd0b4dddc7b
      - 9e6c4e1f-7d60-472f-ba1a-a39ef669e4b2
      - b2b3f03d-6a65-4f7b-a9c7-1c7ef74a9ba4
      - be9ba2d9-53ea-4cdc-84e5-9b1eeee46550
      - d3e037e1-3eb8-44c8-a917-57927947596d
      - d4f940ab-401b-4efc-aadc-ad5f3c50688a
      - e6db77e5-3df2-4cf1-b95a-636979351e5b
  when: win10cis_rule_18_10_42_6_1_2
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.6.1.2
      - microsoft_defender_exploit_guard
      - attack_surface_reduction
      - defender

- name: "18.10.42.6.3.1 | PATCH | Ensure Prevent users and apps from accessing dangerous websites is set to Enabled Block"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection
      name: EnableNetworkProtection
      data: 1
      type: dword
  when: win10cis_rule_18_10_42_6_3_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.6.3.1
      - microsoft_defender_exploit_guard
      - network_protection

- name: "18.10.42.7.1 | PATCH | (L2) Ensure 'Enable file hash computation feature' is set to 'Enabled'"
  ansible.windows.win_regedit:
      path: HKLM:\SOFTWARE\Policies\Microsoft\Windows Defender\MpEngine
      name: EnableFileHashComputation
      data: 1
      type: dword
  when: win10cis_rule_18_10_42_7_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.7.1
      - mpengine
      - hash

- name: "18.10.42.10.1 | PATCH | Ensure Scan all downloaded files and attachments is set to Enabled"
  ansible.windows.win_regedit:
      path: HKLM:\SOFTWARE\Policies\Microsoft\Windows Defender\Real-Time Protection
      name: DisableIOAVProtection
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_10_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.10.1
      - real_time_protection
      - downloads

- name: "18.10.42.10.2 | PATCH | Ensure 'Turn off real-time protection' is set to 'Disabled'"
  ansible.windows.win_regedit:
      path: HKLM:\SOFTWARE\Policies\Microsoft\Windows Defender\Real-Time Protection
      name: DisableRealtimeMonitoring
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_10_2
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.10.2
      - real_time_protection

- name: "18.10.42.10.3 | PATCH | Ensure Turn on behavior monitoring is set to Enabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Real-Time Protection
      name: DisableBehaviorMonitoring
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_10_3
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.10.3
      - real_time_protection
      - behavior_monitoring

- name: "18.10.42.10.4 | PATCH | Ensure 'Turn on script scanning' is set to 'Enabled'"
  ansible.windows.win_regedit:
      path: HKLM:\SOFTWARE\Policies\Microsoft\Windows Defender\Real-Time Protection
      name: DisableScriptScanning
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_10_4
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.10.4
      - real_time_protection
      - script_scanning

- name: "18.10.42.12.1 | PATCH | Ensure Configure Watson events is set to Disabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Reporting
      name: DisableGenericRePorts
      data: 1
      type: dword
  when: win10cis_rule_18_10_42_12_1
  tags:
      - level2-high-security-sensitive-data-environment
      - patch
      - automated
      - rule_18.10.42.12.1
      - reporting
      - watson

- name: "18.10.42.13.1 | PATCH | Ensure 'Scan packed executables' is set to 'Enabled'"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Scan
      name: DisablePackedExeScanning
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_13_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.13.1
      - scan

- name: "18.10.42.13.2 | PATCH | Ensure Scan removable drives is set to Enabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Scan
      name: DisableRemovableDriveScanning
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_13_2
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.13.2
      - scan

- name: "18.10.42.13.3 | PATCH | Ensure Turn on e-mail scanning is set to Enabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender\Scan
      name: DisableEmailScanning
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_13_3
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.13.3
      - email_scanning

- name: "18.10.42.16 | PATCH | Ensure Configure detection for potentially unwanted applications is set to Enabled Block"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender
      name: PUAProtection
      data: 1
      type: dword
  when: win10cis_rule_18_10_42_16
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.16
      - defender

- name: "18.10.42.17 | PATCH | Ensure Turn off Windows Defender AntiVirus is set to Disabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\Windows Defender
      name: DisableAntiSpyware
      data: 0
      type: dword
  when: win10cis_rule_18_10_42_17
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.42.17
      - defender
