---

- name: "18.1.3 | PATCH | Ensure Allow Online Tips is set to Disabled"
  ansible.windows.win_regedit:
      path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Explorer
      name: AllowOnlineTips
      data: 0
      type: dword
  when: win10cis_rule_18_1_3
  tags:
      - level2-high-security-sensitive-data-environment
      - patch
      - automated
      - rule_18.1.3
      - online_tips
