---

- name: "18.1.2.2 | PATCH | Ensure Allow users to enable online speech recognition services is set to Disabled"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Policies\Microsoft\InputPersonalization
      name: AllowInputPersonalization
      data: 0
      type: dword
  when: win10cis_rule_18_1_2_2
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.1.2.2
      - speech_recognition
